{% extends "base.html" %}

{% block content %}

    <div class="column is-5 is-offset-4">
        <h3 class="title is-3">Login</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        {% if form %}
            <form method="POST">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.email(class="input", placeholder="Email") }}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.password(class="input", placeholder="Password") }}
                    </div>
                </div>
                <div>
                    {{ form.recaptcha }}
                    <!-- add text to tell user to solve captcha-->
                </div>
{#                <div class="field">#}
{#                    <div class="control">#}
{#                        {{ form.pin(class="input", placeholder="PIN") }}#}
{#                    </div>#}
{#                </div>#}
                <div>
                    {{ form.submit(class="button is-info centered") }}
                </div>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}